html body {
    font-family: Sans-serif;
    font-size: 1.5em;
    background-color: rgba(215, 139, 218, 0.2);
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #ffffff; */
    padding: 25px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 5px;
    margin: 10px;
    /* justify-content: space-between; */
    /* display: flex; */
    min-width: 1200px;
}

div.brand {
    font-size: 1.5em;

}

nav {
    /* justify-content: space-between;  */
    /* display: flex; */
    text-align: right;
    font-size: 1.5em;
}

header nav a:link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

header nav a:visited {
    color: black;
}

header nav a:hover {
    font-style: italic;
    color: rgb(192, 126, 233);
}

h1 {
    text-align: left;
    margin: 0;
    font-size: 9em;
}

#profile_image_about_me figure img {
    margin-top: 50px;
    filter: grayscale(100%);
    width: 50%;
    min-width: 600px;
    border-radius: 70px;
    float: left;
}

#about_me {
    text-align: center;
    letter-spacing: 5px;
    color: rgb(99, 99, 99);
    padding: 40px;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
    padding: 25px;
    text-align: center;
    color: rgb(99, 99, 99);
    letter-spacing: 5px;
    overflow: auto;
}

#skills {
    margin-top: 50px;
    margin-bottom: 50px;
}

#skills ul {
    list-style-type: none;
    letter-spacing: 5px;
    color: rgb(99, 99, 99);
    padding-left: 0;
}

#skills ul li {
    display: inline;
}

#portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #000000;
}

h2:hover {
    text-decoration:line-through;
}


.portfolio1-img-background {
    background-image: url(./images/KanyeQuoteGenerator.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio2-img-background {
    background-image: url(./images/ReactProject.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    bottom: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 4px;
}

footer {
    margin-top: 150px;
    position: fixed;
}

footer div {
    padding: 9px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
}

/* footer div:hover {
   color: rgb(245, 233, 124);
   font-style: italic;
    } */


.contact.links img {
   width: 50px;
   height: 50px;
   transition: transform .4s;
}

.contact.links img:hover {
    background-color: rgb(192, 126, 233);
    border-radius: 30px;
    padding: 5px;
    transform: scale(1.2);
}


