/* BACKGROUND AND BODY 
*/

html {
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #ffffff;
}

/*
Removed white spacing to left of footer
*/
body {
    margin: 0;
}

/* HEADER 
Flex container to display items in a row
Positioned brand name and navigation bar to far left and far right
Padding for cleaner look 
*/

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

header div {
    font-size: 0.9em;
    letter-spacing: 4px;
    padding: 8.5px;
    position: fixed;
}

header div.right_side {
    margin-right: 10px;
}

header div.right_side a:link {
    text-decoration: none;
    color: black;
}

header div.right_side a:visited {
    color: black;
}

header div.right_side a:hover {
    font-style: italic;
    color: rgb(245, 233, 124);
}

/* PROFILE IMAGE
Positioned brand header on top of image
*/

h1 {
    font-size: 90px;
    position: relative;
    top: -1150px;
    left: 40px;
    margin: 0;
    padding: 5px;
}

/*
Clearfix so H1 maintains inside figure containter with image
*/

#profile_image figure {
    content: "";
    clear: both;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

/*
Centered profile image
Applied black and white filter
*/

#profile_image figure img {
    display: block;
    margin: auto;
    filter: grayscale(100%);
    border-radius: 15px;
    padding: 30px;
}

/* ABOUT ME SECTION 
Positioned container to minimise gap between profile image section
Slightly transparent purple rounded container for text body
Centered container horizontally
*/

#about_me {
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -280px;
}

#about_me h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 90px;
}

#about_me_body {
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(215, 139, 218, 0.2);
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    color: rgb(99, 99, 99);
    letter-spacing: 5px;
    font-size: smaller;
}

 /* SKILLS AND PORTFOLIO PAGE
 */

#skills {
    text-align: center;
}

#skills h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 90px;
}

/*
Removed bullet points
*/

#skills ul {
    list-style-type: none;
    letter-spacing: 5px;
    color: rgb(99, 99, 99);
    font-size: smaller;
}

/*
Displayed listed items next to each other
*/

#skills ul li {
    display: inline;
}

#portfolio h2 {
    margin-top: 100px;
}

#portfolio {
    text-align: center;
}

#portfolio div {
    font-size: 100px;
}

/* STYLING FOR BOTH PAGES
*/

h2:hover {
    text-decoration:line-through;
}

/* FOOTER CONTACT LINKS
Fixed when page scrolls
*/

 footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     font-size: 0.9em;
     text-align: center;
     background-color: #575757;
 }

 footer div {
     padding: 9px 9px 6px;
     letter-spacing: 0.9em;
 }

.contact.links {
    padding-top: 0;
}

 .contact.links img {
    width: 25px;
    height: 25px;
 }

 footer div:hover {
    color: rgb(245, 233, 124);
    font-style: italic;
}

/*
Contact img icons to change colour and rounded border on hover
*/

 .contact.links img:hover {
     background-color: rgb(245, 233, 124);
     border-radius: 30px;
     padding: 5px;
 }
